{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        buddy/buddy-auth {:mvn/version "3.0.323"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        compojure/compojure {:mvn/version "1.6.1"}
        buddy/buddy-hashers {:mvn/version "1.8.158"}
        integrant/integrant {:mvn/version "0.8.0"}
        ring/ring-jetty-adapter {:mvn/version "1.9.6"}
        ring/ring-core {:mvn/version "1.9.6"}}}
 
